


*, *::after, *::before {
   box-sizing:border-box;
}

:root {
   --font-sans: Helvetica, Arial, sans-serif;
   --font-serif: Cambria, Georgia, serif;





   --header-height:3rem;
}


body {
   margin:0;
   font-size:100%;
   font-family:var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin:20px;
   font-family:var(--font-serif);
}

p{
	margin:20px;
}


a {
   color:inherit;
   text-decoration: none;
   font-weight:bold;
}
a:hover {
   text-decoration:none;
}

.center {
  text-align: center;
}





/* Layout Classes */


.hidden { display:none; }


.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }

.flex-column { flex-direction:column; }
.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.overscroll {
   width: 100%;
   height: 100%;
   overflow: auto;

}




/* FORMS */
.form-control {
   margin: 1em 0; 

}
.form-label {
  font-family: helvetica;
    font-size: 1em; 
    font-weight: bold;
    color: #FC941C;
    margin: 0.5rem 0;
    text-align: left;
}
.ui-mobile label {
   margin: 0.5rem 0;
}
.form-input {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: #FFB665;
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
    border-radius: 10px;
}
.addcoffee {
    display: inline-block;
    width: 80%;
    border-width: 0;
    background-color: #fff;
    font: inherit;
    padding: 0.5em 1em;
    margin-left: 20px;
    outline: 0;

}
.add-label {
    font-size: 0.8em;
    color: #FFB42F;
    margin: 20px 20px 20px 20px;
    text-align: left;
}
.form-button {
    display: inline-block;
    width: 100%;
    border-width: 0;
    border-radius: 10px;
    background-color: #FC941C;
    font: inherit;
    padding: 0.5em 1em;
    margin: 0px;
    outline: 0;
    text-align: center;
    
}

.delete_modal{
    display: inline-block;
    width: 100%;
    border-width: 0;
    border-radius: 10px;
    background-color: #FC941C;
    font: inherit;
    padding: 0.5em 0em;
    margin: 8px 0px 6px 1px;
    outline: 0;
    text-align: center;
}

#signup-page,
#signin-page{
	background-image: url('../lib/images/login.png');
	background-size: cover;
	padding: 1em;
  background-color: #fff;
	justify-content: center;
	text-align: center;

}

.signin-alt {
  font-family: helvetica;
	 color:#FFB42F;
   padding:0.5em;
   text-align:center;
   font-size:0.8em;
}






/* PAGE LAYOUTS */
.ui-mobile .ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;
}
[data-role='main'] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;

}
.ui-header,
.ui-footer {
   flex:none;
   height:var(--header-height);
   line-height:var(--header-height);
   border-width:0;
   background-color: #2a1c10;
   box-shadow:0 0 5px rgba(0,0,0,0.15);

   overflow:hidden;
   position:relative;
}
.ui-header .ui-title {
   margin:0;
   padding:0;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   text-align:center;
   color:#fc941c;
   font-family: helvetica;
   font-size: 1em;
}







.ui-header ul,
.ui-footer ul {
   position:relative;
   display:flex;
   list-style-type:none;
   margin:0;
   padding:0;
}
.ui-footer li {
   flex: 1 1 auto;
   text-align:center;
}
.ui-header a,
.ui-footer a {
   display:block;
   padding:0 1em;
}







/* MODALS */
.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index:10;
}
.modal.active {
   opacity:1;
}
.modal-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
}


/* MODAL POPUP*/
.modal-popup {
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,calc(-50% + 3em));
   transition: all 0.3s;
   width:80vw;
}
.modal-body {
    background-color: #fff;
    padding: 1em;
}
.modal-head, .modal-foot {
    background-color: #2a1c10;
    padding: 0.5em 1em;
    color: #fc941c;
    text-align: center;
    font-family: helvetica;
    font-weight:bold;
}


.modal.active .modal-back,
.modal.active .modal-popup {
    pointer-events: initial;
}
.modal.active .modal-popup {
   transform:translate(-50%,-50%);
}





.modal-foot input {
   display:block;
   width:100%;
   text-align:right;
   border-width:0;
   font-weight:bold;
   background-color:transparent;
   outline:0;
   color: white;
}




/* MODAL TOAST */
.modal-toast {
   position: absolute;
    width: 90%;
    background-color: #ffa70a;
    color: black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 0.2em;
    padding: 1em;
    text-align: center;
    left: 50%;
   transition: all 0.3s;
}
.modal-toast.top {
   top:1em;
   transform: translate(-50%,-1em);
}
.modal-toast.bottom {
   bottom:1em;
   transform: translate(-50%,1em);
}
.modal.active .modal-toast {
   transform: translate(-50%,0);
   pointer-events: initial;
}






/* FLOATER */
.floater { position:absolute; }
.floater.right { right:1em; }
.floater.left { left:1em; }
.floater.top { top:1em; }
.floater.bottom { bottom:1em; }


/* CIRCLE BUTTON */
.btn-circle {
    background-color: #FFB42F;
    line-height: 3rem;
    width: 3rem;
    display: inline-block;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    font-size: 1.5em;
    margin-top: 50px;
}

.modal-close-floater {
    position: absolute;
}
.modal-close-floater.right {
    right: 1em;
}
.modal-close-floater.top {
    top: -1em;
    transform: translateY(-100%);
}









/* PROFILE */
#user-profile-page{
  background-color:#fff; 
}
.profile-image img {
  border-radius: 50%;
  width: calc(100vw - 4em);
  height: calc(100vw - 4em);
  object-fit: cover;
  margin: 2em
}
.profile-body {
   padding:1em 1em 0.5em 1em;
}
.profile-name{
   font-size:1em;
   margin-bottom: 1em;
   border-bottom: 1px solid gray;
   padding: 1em;
}

.profile-email{
   font-size:1em;
   margin-bottom: 1em;
   border-bottom: 1px solid gray;
   padding: 1em;
}


#settings-page header{
  font-weight: ;
  background-color: #2a1c10;
  color:#FC941C; 
}
#profile-settings-page header{
  background-color: #2a1c10;
  color:#FC941C;
  } 
#password-settings-page header{
  background-color: #2a1c10;
  color:#FC941C; 
}
  
.settings-list {

  color:#FC941C;


   list-style-type:none;
   margin:0;
   padding:0;
}

.settings-item a {
  display: flex;
  text-align: center;
  
  font-weight: bold;
  border-bottom: 1px solid #c5ac8f;

 
  padding: 10px;
  margin: 5px;
  
  overflow: hidden;
  position:relative;

}



.settings-item a:not([href='#'])::after {
   
   position:absolute;
   text-decoration: none;
   top:50%;
   right:1em;
   transform:translateY(-50%);
}



.profile-settings-icon a img{
  
  height: 25px;
  margin-right: 10px;;
}



.coffeelist-image img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    vertical-align:text-bottom;
}
.coffeelist-item {
    display: flex;
    background-color: #FFB665;

    margin: 1em;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}
.coffeelist-description {
  background-color:#FFB665; 
  padding:0.5em;
}
.coffeelist-type,
.coffeelist-place,
.coffeelist-ratings {
   font-size:1em;
   color: #2a1c10;
}
.coffeelist-name {
   font-size:1em;
   color: #2a1c10;

}

#coffee-profile-page header{
  background-color: #2a1c10;
  color:#FC941C; 
}

#coffee-profile-page{
  background-color: #fff;
}

.coffee-desc{
  background-color: #fff;
}
.no-bullets {
  border-radius: 10px;
  border: 1px solid #fc941c;
  box-shadow:0 0 5px rgba(0,0,0,0.3);


}
  .no-bullets li {
    padding: 1.2em;

  }
  .no-bullets li:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
ul.no-bullets{
    list-style: none;
    border-radius: 10px;
    border: 1px solid #fc941c;
    padding: 1em;
    margin: 1em 1em 0em 1em;
}

.coffee-des-list{
  
  padding: 1em;
}

h2{
  text-align: center;
}

.nav-icon img {
   width:1em;
   height:1em;
   vertical-align: text-bottom;
}
.nav-icon {
   line-height:calc(var(--header-height) * 0.6);
   font-size:1.5em;
}
.nav-label {
   line-height:calc(var(--header-height) * 0.4);
   font-size:0.7em;
   color: white;
}


.button {
	
	width: 30%;
	border-width: 0;
	text-align: center;
	font: inherit;
	padding: 0.5em 0.8em 0.5em 0.8em;
	
	
}
.button-sec {
	float: left;	
	margin: 0 20px 0 20px;
	background-color:#ffa508;
	color: black;
	border-radius: 6px;
	box-shadow: 0px 3px 12px rgba(76, 107, 46, 0.2);
}


.button1 {
	
	width: 30%;
	border-width: 0;
	text-align: center;
	font: inherit;
	padding: 0.5em 0.8em 0.5em 0.8em;
	
}
.button-sec1 {
	float:right;
	margin: 0 42px 0 40px;
	background-color:#ffa508;
	color: black;
	border-radius: 6px;
	box-shadow: 0px 3px 12px rgba(76, 107, 46, 0.2);
}

.list-add-rating{
    display: inline-block;
    border-width: 0;
    background-color: #fff;
    font: inherit;
    color: #ffb665;
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    margin: 0;
    width: 100%;
    /* -webkit-appearance: none; */
    /* outline: 0; */
    transition-duration: 0.6s;
    border-radius: 10px;
    text-align: center
}

/* List Page */

#list-page [data-role='main'] {
   background-position:center;
   background-size:cover; 
   background-color: #fff;
}




.map{
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.coffee-top{
  flex:1 1 100%;
  position: relative;
  height: 30vh;
}
.coffee-top .profile {
    display: flex;
}
.coffee-bottom .profile-image img {
    width: 40vw;
    height: 40vw;
    margin: 20px 0px 10px 110px;
    left: 0;
    text-align: center;  
}
.coffee-bottom{
  flex:none;
  position: relative;
}



/* MODAL DRAWER */
.modal-drawer {
    position: absolute;
    display: flex;
    flex-direction: column;
    transition:all 0.3s;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
}

.modal-drawer.left,
.modal-drawer.right {
   height:100%;
   width:70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height:30vh;
   width:100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform:translate(0);
   pointer-events:initial;
}


.modal-drawer .modal-body {
   flex: 1 1 100%;
   background-color: #f4d49c;
}



.coffee-thumbnail {
    margin-bottom:1em;
    width: 4rem;
    height: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.coffee-thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.coffee-type {

  font-size: 0.75rem;
  font-weight: 100;
    font-family: var(--font-sans);
}
.coffee-name {
  font-size: 1rem;
  font-weight: 500;
    font-family: var(--font-sans);
}
.coffee-bean{
   height: 1em;
   display:flex;
}
.coffee-bean img{
  max-height: 100%;
  width: auto;
}
.coffee-popup-display{
  padding: 10px;
  margin: 0px 2px 0px 0px;
}
.coffee-profile-page-rating{
    width: 70px;
    margin-top: 3px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*For Image Uploading*/

.upload-phrase {
  padding: 1rem 2rem;
}

.coffee-image-upload.full {
  position: absolute;
  top: 12.5%;
  left: 5%;
  width: 90%;
  height: 45.1%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.ui-mobile label.coffee-image-upload {
   margin: 0;
}

.coffee-image-upload input {
   display: none;
}

.coffee-image-upload.pic {
    height: 12em;
    border-radius: 0.5em;
    background-position: center;
    background-size: cover;
    position:relative;
}

.coffee-image-upload.pic:not(.picked){
  border: 2px solid #ccc;
}

.coffee-image-upload.pic:before {
  color: #ffb665;
  content:'+ Add photo';
  position: absolute;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.coffee-image-upload.pic.picked:before {
  z-index: -1;
}

.coffee_modal_select{
    background-color: #ccc;
    text-align: center;
    padding: 0.75em;
    border-radius: 2em;
}

.coffee_modal_select.delete {
  background-color: #FFB665;
  color:#fff;
  margin-bottom: 1em;
} 

.coffee-pop{
  padding: 1em;
}


/*Star Rating
:root {
   --star-size: 20px;
   --star-color: #ffdbb8;
   --star-background: #fc941c;
}
 .Stars {
   --percent: calc(var(--rating) / 5 * 100%);
   display: inline-block;
   font-size: var(--star-size);
   font-family: Times;
   line-height: 1;
}
 .Stars::before {
   content: '★★★★★';
   letter-spacing: 3px;
   background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
 * {
   position: relative;
   box-sizing: border-box;
}
*/

.gm-style .gm-style-iw-c {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: translate(-50%,-100%);
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
}
.gm-style-iw-d{
  padding: 1em;
  overflow: hidden!important;
}

.coffee-locations-added {
    color: #ffb665;
    font-size: 1.25rem;
}








/*Search bar*/

.search-bar i {
    position: absolute;
}

.search-bar {
    width: 100%;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}


.search-icon {
  background-image: url('../lib/images/search.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 12px;
}

.search-bar input {
  padding-left: 1em;
}

.hotdog {

    border: solid #fc941c 2px;
    width: 90%;
    padding: 0.5em 0.7em 0.6em;
    background-color: transparent;
    border-radius: 8px;
    display: inline-flex;
    margin: 1em 1em 0.5em 1em; 
     }

.hotdog input {
   background-color: transparent;
   border-width: 0;
   font: inherit;
   color: inherit;
   border-radius: 0;
   padding: 0 0.25em;
   margin: 0;
   width: 100%;
   flex: 1;
   outline: 0;
}

/*.ui-header .hotdog {
   height: calc(var(--header-height) - 0.4em);
}*/

.list-search {
   padding: 0;
   display: flex;
   align-items: center;
}











